* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}
:root {
  --primary: #fe1919;
  --bg: #fff;
  --bg2: #000000;
  --bg3: #b06527;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* start of Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(250, 3, 3, 0.8);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: black;
}

.navbar .navbar-nav a {
  color: #ffffff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--bg2);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--bg2);
  transform: scaleX(0);
  transition: o.2 linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #ffffff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--bg2);
}

#menu-tampilan {
  display: none;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
}

.container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("/img/FzJqdFxWcAA1hCJ.jpg") no-repeat center;
  background-size: cover;
  z-index: -1;
  filter: blur(5px);
}

.contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
  height: 100%;
  background: url("/img/header_tester.jpg") no-repeat center;
  background-size: cover;
}

.right {
  padding: 25px 40px;
}

h2 {
  color: black;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #ff0000;
}

.field {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
  background-color: #fff;
  border: 2px solid rgba(30, 85, 250, 0.47);
}

.area {
  min-height: 150px;
}

.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.1 rem;
  background-color: #ff0000;
  cursor: pointer;
  border: none;
  color: #fff;
  transition: 0.3;
}

.btn:hover {
  background-color: #f80404;
}

@media (max-width: 768px) {
  .contact-box {
    grid-template-columns: 1fr;
  }
  .left {
    width: 300px;
    height: 180px;
  }

  @media (max-width: 768px) {
    html {
      font-size: 62.5%;
    }
    #menu-tampilan {
      display: inline-block;
    }
    .navbar .navbar-nav {
      position: absolute;
      top: 100%;
      right: -100%;
      background-color: #fe1919;
      width: 30rem;
      height: 100vh;
      transition: 0.3s;
    }
    .navbar .navbar-nav.active {
      right: 0;
    }

    .navbar .navbar-nav a {
      color: var (--bg);
      display: block;
      margin: 1.5;
      padding: 0.5rem;
      font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
      transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
      transform: scaleX(0.2);
    }
  }
  /* mobile phone*/
  @media (max-width: 450px) {
    html {
      font-size: 55%;
    }
  }
  /* laptop*/
  @media (max-width: 1366px) {
    html {
      font-size: 75%;
    }
  }
}
